<ul class="navbar flex flex-row">
    <li><a href={{url("index")}}>Hem</a></li>
    <li><a href={{url("report")}}>Rapporter</a></li>
    <li><a href={{url("card")}}>Kort</a></li>
    <li><a href={{url("game")}}>21</a></li>
    <li><a href={{url("book-index")}}>Böcker</a></li>
    <li><a href={{url("metrics")}}>Metrics</a></li>
    <li><a href={{url("about")}}>Om</a></li>
</ul>